= render "layouts/flashes"
%p
  Welcome to the original private members club on London’s Harley Street. Rooted in the iconic heritage of Harley Street Skin Clinic, the 48 Club offers its members priority access to our highly qualified doctors and exclusive discounts on luxury brands and signature treatments.
  With our 20 years of unparalleled expertise creating bespoke experiences for high profile clients, your membership guarantees you impeccable personal care, delivered with the utmost sensitivity and confidentiality.
%br
= link_to 'Click here to join', sign_up_path, :class => "button"
%h5 Sign in below

= simple_form_for @user, url: login_path do |f|
  = f.input :email
  = f.input :password
  .actions
    = label_tag :remember, 'Remember me'
    = check_box_tag :remember
    %br
    = submit_tag 'Log In', :class => 'button'
    %br
    = link_to 'Forgot your password?', new_user_password_reset_path
- content_for :javascripts do
  :javascript
    $.backstretch("/assets/events.jpeg");
