= render "layouts/flashes"
#intro
  %p
    Public Facing Page info ...  Public Facing Page info ...  Public Facing
    Page info ...  Public Facing Page info ...  Public Facing Page info ...
    Public Facing Page info ...  Public Facing Page info ...  Public Facing
    Page info ...  Public Facing Page info ...  Public Facing Page info ...  
  = link_to 'Click here to join', sign_up_path, :class => "button"
  %h2 Sign in below

  = form_tag login_path do
    = label_tag :email, 'Email *', :class => 'email required'
    = text_field_tag :email, params[:email], :class => 'email required string'
    %br
    = label_tag :password, 'Password *', :class => 'password required'
    = password_field_tag :password, params[:password], :class => 'password required'
    %br
    %p
      = check_box_tag :remember_me, 1, params[:remember_me], :class => 'boolean optional'
      %span Remember me
    .actions
      = submit_tag 'Log In', :class => 'button'

  = link_to 'Forgot your password?', new_user_password_reset_path, class: 'button'
