.event
  = link_to 'Back', your_events_path, class: 'button margin-below'
  %br
  = image_tag @event.image.large.url.to_s, class: 'image' if @event.image
  .details
    %span.date
      = @event.date.strftime("%d/%y")
    %h5
      = @event.title
    %p
      = @event.description
    = link_to 'Cancel RSVP', cancel_your_event_rsvp_path(@event), class: 'button'
  .clear
- content_for :javascripts do
  :javascript
    $.backstretch("/assets/events.png");
