= link_to 'Post a Notice', new_your_notice_path, class: 'button'
.noticeboard
  - if @notices.present?
    - @notices.each do |notice|
      .notice-panel
        - if notice.image.present?
          - if notice.landscape?
            = link_to(image_tag(notice.image.landscape.url), notice)
          - else
            = link_to(image_tag(notice.image.portrait.url), notice)
        %h6= notice.title
        = markdown(notice.description.truncate(250))
        - if notice.contact_phone.present?
          = notice.contact_phone
          %br
        - if notice.contact_email.present?
          = notice.contact_email
        = link_to 'more', notice
- content_for :javascripts do
  :javascript
    var $container = $('.noticeboard');

    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.notice-panel',
        isResizable: true,
        gutterWidth: 7
      });
    });

