= link_to 'All Notices', notices_path, class: 'button'
.a-notice
  - if @notice.image.present?
    .image
      - if @notice.landscape?
        = image_tag @notice.image.landscape.url
      - else
        = image_tag @notice.image.portrait.url
  .description
    %h1= @notice.title
    = markdown(@notice.description)
    - if @notice.contact_phone.present?
      = @notice.contact_phone
      %br
    - if @notice.contact_email.present?
      = @notice.contact_email
      %br
  .clear
