%h1 Listing Partners

= link_to 'New Partner', new_admin_partner_path, :class => 'btn-primary btn pull-right'

%br
%br

= paginate @partners

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th &nbsp
  %tbody
    - @partners.each do |partner|
      %tr{:class => cycle("odd", "even")}
        %td= partner.name
        %td= markdown(partner.description.truncate(50))
        %td
          = link_to 'View', admin_partner_path(partner), class: 'btn'
          = link_to 'Edit', edit_admin_partner_path(partner), class: 'btn btn-primary'
          = link_to 'Delete', admin_partner_path(partner), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger'

= paginate @partners
