%h1 Listing Partners

= link_to 'New Partner', new_admin_partner_path, :class => 'btn-primary btn-large'

= paginate @partners

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th &nbsp
  %tbody
    - @partners.each do |partner|
      %tr{:class => cycle("odd", "even")}
        %td= partner.name
        %td= partner.description.truncate(100)
        %td
          = link_to 'view', admin_partner_path(partner), class: 'btn'
          = link_to 'edit', edit_admin_partner_path(partner), class: 'btn btn-primary'
          = link_to 'delete', admin_partner_path(partner), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger'

%br

= paginate @partners
