= link_to 'All Partners', admin_partners_path, class: 'btn'
%br
%br
%h1 Create New Partner
%br
%br
= simple_form_for(@partner, :html => { :class => 'form-horizontal' }, :url => admin_partner_path(@partner)) do |f|
  = f.error_notification
  = f.input :name, :input_html => { :class => "span6" }
  = f.input :description, :input_html => { :class => "span6" }
  = f.input :logo, hint: 'logo must be square'
  = f.input :logo_cache, :as => :hidden
  .form-actions
    = f.button :submit, 'Create', :class => 'btn-primary'
