= link_to 'All Partners', admin_partners_path, class: 'btn'
%br
%br
= @partner.name.titleize
%br
= markdown(@partner.description)
%br
= image_tag @partner.logo.logo.url
%br
%br
= link_to 'Edit', edit_admin_partner_path(@partner), :class => 'btn btn-primary'
= link_to 'Delete', admin_partner_path(@partner), :method => :delete, :class => 'btn btn-danger', confirm: "Are you sure?"
