= simple_form_for(@notice, :html => {:multipart => true}, :url => your_notice_path(@notice)) do |f|
  = f.error_notification
  = f.input :title
  = f.input :description
  = f.input :image
  = f.input :contact_phone
  = f.input :contact_email
  = f.input :image_cache, :as => :hidden
  %br
  .actions
    = f.button :submit, class: 'button'
