%h5 your notices
= link_to 'New notice', new_your_notice_path, :class => 'button'
- if @notices.blank?
  You have not created any Notices yet.
- else
  - @notices.each do |notice|
    .your-notice
    %h5
      = notice.title
    = link_to 'view', your_notice_path(notice), class: 'button'
    = link_to 'edit', edit_your_notice_path(notice), class: 'button'
    = link_to 'delete', your_notice_path(notice), :method => :delete, :confirm => 'Are you sure?', class: 'button'
- content_for :javascripts do
  :javascript
    $.backstretch("/assets/events.png");
