- if !@notice.activated?
  .message
    %p This message is waiting to be approved by the administrators
= link_to 'Back', your_notices_path, class: 'button'
.a-notice
  - if @notice.image.present?
    .image
      - if @notice.landscape?
        = image_tag @notice.image.landscape.url
      - else
        = image_tag @notice.image.portrait.url
  .description
    %h1= @notice.title
    = markdown(@notice.description)
    - if @notice.contact_phone.present?
      = @notice.contact_phone
      %br
    - if @notice.contact_email.present?
      = @notice.contact_email
      %br
    = link_to 'Edit', edit_your_notice_path(@notice), class: 'button'
    = link_to 'Delete', your_notice_path(@notice), :method => :delete, :confirm => 'Are you sure?', class: 'button'
  .clear
