%h1 Listing FAQ's

= link_to 'New FAQ', new_admin_faq_path, :class=>"btn btn-primary pull-right"

%br
%br

= paginate @faqs

%table.table.table-bordered.table-striped
  %tr
    %th Question
    %th Answer
    %th Active
    %th &nbsp

  - @faqs.each do |faq|
    %tr
      %td= faq.question
      %td= faq.answer
      %td= faq.active
      %td
        = link_to 'view', admin_faq_path(faq)
        = link_to 'edit', edit_admin_faq_path(faq)
        = link_to 'delete', admin_faq_path(faq), :confirm => 'Are you sure?', :method => :delete

= paginate @faqs
