%h1 Listing FAQs

= link_to 'New FAQ', new_admin_faq_path, :class=>"btn btn-primary pull-right"

%br
%br

= paginate @faqs

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Question
      %th Answer
      %th Active
      %th &nbsp

  %tbody
    - @faqs.each do |faq|
      %tr
        %td= faq.question
        %td= markdown(faq.answer.truncate(50))
        %td
          - if faq.active?
            %span.label.label-success Yes
          - else
            %span.label No
        %td
          = link_to 'View', admin_faq_path(faq), :class=>"btn"
          = link_to 'Edit', edit_admin_faq_path(faq), :class=>"btn btn-primary"
          = link_to 'Delete', admin_faq_path(faq), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'


= paginate @faqs
