%p#notice= notice

%p
  %b Question:
  = @faq.question
%p
  %b Answer:
  = @faq.answer
%p
  %b Viewed:
  = @faq.viewed
%p
  %b Active:
  = @faq.active

= link_to 'Edit', edit_admin_faq_path(@faq)
\|
= link_to 'Back', admin_faqs_path
