= render 'layouts/flashes'
- @events.each do |event|
  = image_tag event.image.thumb.url.to_s if event.image
  = format_date(event.date)
  %br
  = event.title
  %br
  = event.description
  = link_to 'more', event_path(event)
  %br
  %br
