= simple_form_for(@offer, :html => {:multipart => true, :class => 'form-horizontal'}, :url => admin_offer_path(@offer)) do |f|
  = f.error_notification
  = f.input :name, :input_html => { :class => 'span6' }
  = f.input :image, hint: 'Expected dimensions are width: 450px, height: 630px. Image will be cropped to fit.'
  = f.input :active, :hint => 'currently active offer?'
  = f.input :image_cache, :as => :hidden
  .form-actions
    = f.button :submit, self.controller.action_name == 'new' ? 'Create' : 'Update', :class => 'btn-primary'
