%h1 Listing Offers

%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Image
    %th Active
    %th

  - @offers.each do |offer|
    %tr
      %td= offer.name
      %td= image_tag(offer.image.thumb.url.to_s)
      %td= offer.active
      %td
        = link_to 'view', admin_offer_path(offer), {:class=>"btn btn-info btn-mini"}
        = link_to 'edit', edit_admin_offer_path(offer), {:class=>"btn btn-warning btn-mini"}
        = link_to 'delete', admin_offer_path(offer), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini'

%br

= link_to 'New Offer', new_admin_offer_path, {:class=>"btn btn-primary btn-large"}
