= link_to 'All Offers', admin_offers_path, class: 'btn'
%br
%br
- if @offer.active?
  %span.label.label-success This offer is currently active
- else
  %span.label This offer isn't active
%br
%br
%p= @offer.name.titleize
= image_tag(@offer.image.large.url.to_s)
%br
= link_to 'Edit', edit_admin_offer_path(@offer), :class => 'btn btn-primary'
= link_to 'Delete', admin_offer_path(@offer), :class => 'btn btn-danger', :method => :delete, :confirm => 'Are you sure?'
