%h1 New User
= simple_form_for(@admin, :html => { :class => 'form-horizontal' }, :url => admin_account_path(@admin)) do |f|
  = f.error_notification
  = f.input :first_name, :input_html => { :class => "span6" }
  = f.input :last_name, label: 'Surname', :input_html => { :class => "span6" }
  = f.input :email, :input_html => { :class => "span6" }
  = f.input :password, :input_html => { :class => "span6" }
  = f.input :password_confirmation, :input_html => { :class => "span6" }
  = f.input :is_admin, :input_html => { :value => true }, :as => :hidden
  .form-actions
    = f.button :submit, 'Create User', :class => 'btn-primary btn-large'
