= render 'layouts/flashes'
%h5 ask a question
= link_to 'Back', faqs_path, class: 'button'
.content
  = simple_form_for @question, url: ask_a_question_path do |f|
    = f.input :question
    .actions
      = submit_tag 'Submit question', :class => 'button'
- content_for :javascripts do
  :javascript
    $.backstretch("/assets/ask_a_doctor.png");
