.grey-slate
  = render 'layouts/flashes'
  .heading
    %h2 ASK A QUESTION
  .content
    = form_tag ask_a_question_path do
      = label_tag :question, 'Question *', :class => 'question required'
      = text_area_tag :question, params[:question], :class => 'question required string'
      .actions
        = submit_tag 'Submit question', :class => 'button'
    = link_to 'Back', faqs_path, class: 'button'
