= simple_form_for @user, :url => accounts_account_path(@user) do |f|
  = f.input :first_name
  = f.input :last_name, label: 'Surname'
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  .actions
    = f.button :submit, 'Continue'
