.offer-menu
  = link_to 'Current Offers', '/offers'
  = link_to 'Our Partners', '#'
.slider-offer
  %ul.slides-container
    - @offers.each do |offer|
      %li.slide
        = image_tag(offer.image.large.url.to_s, :alt => "#{offer.name}", :title => "#{offer.name}")
  = link_to '‹', '#', class: 'prev'
  = link_to '›', '#', class: 'next'