- unless current_user.is_cancelling?
  = "Your next payment is due on #{@current_period_ends_at.strftime("%A the #{@current_period_ends_at.day.ordinalize} of %B, %Y")}"
- else
  = "Your subscription is due to expire on #{@current_period_ends_at.strftime("%A the #{@current_period_ends_at.day.ordinalize} of %B, %Y")}"
%br
%br
%br
%h4 Previous Charges
%br
- @statements.each do |statement|
  %h6= "Billing period #{statement.opened_at.strftime("%d/%m/%Y")} - #{statement.closed_at.strftime("%d/%m/%Y")}"
  %br
  - statement.transactions.each do |t|
    - if t.type == "Payment" && t.starting_balance_in_cents != 00
      %p= "<b>£#{t.starting_balance_in_cents / 100}.00</b> settled on #{statement.settled_at.strftime("%A the <b>#{statement.settled_at.day.ordinalize}</b> of <b>%B, %Y")}</b>".html_safe
      %br
      %br
- if current_user.active?
  %h4 Cancellations
  %p= "If you choose to cancel, your can still access your account until your renewal date on #{@current_period_ends_at.strftime("%A the #{@current_period_ends_at.day.ordinalize} of %B, %Y")}."
  = toggle_cancel_link
- else
  %h4 Re-subscribing
  %p Would you like to re-subscribe. Warning - this will charge your card £300
  = link_to 'Re-subscribe?', resubscribe_path, :confirm => 'Are you sure, this will charge a non-refundable fee of Three Hundred GBP to you credit card'
