.content
  = simple_form_for current_user, :url => your_detailss_path(current_user), :method => :put do |f|
    = f.input :first_name
    = f.input :last_name, label: 'Surname'
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    .actions
      = f.button :submit, 'Update'
