= render "layouts/flashes"
- if current_user.is_admin?
  %p= @user.full_name
  %p= @user.email
  %br
- else
  %p= "#{@user.title} #{@user.full_name}"
  %p= format_date @user.date_of_birth
  %p
    = @user.house
    %br
    = @user.town
    %br
    = @user.post_code
  - if @user.telephone
    %p= @user.telephone
  - if @user.mobile
    %p= @user.mobile
  %p= @user.email
  = link_to 'Edit Your Details', edit_your_details_path, class: 'button'
  %br
  %br
  - unless current_user.state == nil
    = link_to 'Update Your Billing Info', update_billing_details_path, class: :button
  = payment_link
- content_for :javascripts do
  :javascript
    $.backstretch("/assets/account.jpeg");
