= render "layouts/flashes"
%p
  First Name:
  = @user.first_name
%p
  Last Name:
  = @user.last_name
%p
  Full Name:
  = @user.full_name
%p
  Email:
  = @user.email
= link_to 'Edit My Details', edit_your_details_path
%br
= payment_link
