%h1 Notices Waiting for Approval
%p (created by VIP members)

%br

= paginate @notices

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Title
      %th Description
      %th Image
      %th Contact phone
      %th Contact email
      %th &nbsp

  %tbody
    - @notices.each do |notice|
      %tr
        %td= notice.title
        %td= notice.description.truncate(50)
        - if notice.image.present?
          - if notice.landscape?
            %td= image_tag notice.image.landscape_tiny.url
          - else
            %td= image_tag notice.image.portrait_tiny.url
        - else
          %td
        %td= notice.contact_phone
        %td= notice.contact_email
        %td
          = link_to 'View', admin_notice_path(notice), :class => 'btn'
          = link_to 'Approve', admin_activate_notice_path(notice), class: 'btn btn-primary'
          = link_to 'Delete', admin_notice_path(notice), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'

= paginate @notices
