%table.table.table-bordered.table-striped
  %tr
    %th Title
    %th Description
    %th Image
    %th Contact phone
    %th Contact email
    %th &nbsp

  - @notices.each do |notice|
    %tr
      %td= notice.title
      %td= notice.description
      %td= image_tag notice.image.thumb.url.to_s if notice.image?
      %td= notice.contact_phone
      %td= notice.contact_email
      %td
        = link_to 'view', admin_notice_path(notice), :class => 'btn'
        = link_to 'edit', edit_admin_notice_path(notice), :class => 'btn btn-primary'
        = link_to 'delete', admin_notice_path(notice), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'
%br

= link_to 'New Notice', new_admin_notice_path
