= link_to '< All notices', admin_notices_path
%br
%br
%p
  %b Title:
  = @notice.title
%p
  %b Description:
  = @notice.description
%p
  %b Image:
  = image_tag @notice.image.large.url.to_s if @notice.image?
%p
  %b Contact phone:
  = @notice.contact_phone
%p
  %b Contact email:
  = @notice.contact_email
- if @author.present?
  %p
    %b Author:
    = @author.full_name

= link_to 'delete', admin_notice_path(@notice), :class => 'btn btn-danger', :method => :delete, :confirm => 'Are you sure?'
