%nav.main-nav
  = link_to image_tag('logo.png'), root_path, {:class => 'logo'}
  %ul.menu
    %li
      = link_to_unless_current 'Account', your_details_path do
        Account
    %li
      = link_to_unless_current 'VIP Offers', offers_path do
        Offers
    %li
      = link_to_unless_current 'Events', events_path do
        Events
    %li
      = link_to_unless_current 'Ask The Doctor', faqs_path do
        Doctor
    %li
      = link_to_unless_current 'Notice Board', notices_path do
        Board
  - if current_user
    %ul.logout
      %li
        = link_to 'Log Out', logout_path
  %footer
    .v-card
      %p.org The Harley Street Skin Clinic
      %p.street-address 48 Harley Street
      %p.locality London
      %p.postal-code W1G 9PU

    %ul
      %li= link_to 'Your Billing Info', billing_info_path
      %li= link_to 'Privacy', privacy_policy_path
      %li= link_to 'Terms &amp; Conditions'.html_safe, terms_and_conditions_path
